.cb-footer {
  margin-top: 50px;
  padding-bottom: 70px;
  background-color: var(--footer-color);
  color: var(--contrast-text-color);
}
.cb-footer-triangle {
  display: block;
  height: 4vw;
  margin: 0;
  max-width: inherit;
  position: relative;
  width: 100%;
  z-index: 1;
  overflow: hidden;
  vertical-align: middle;
}

.cb-footer-triangle-poly-1 {
  fill: #ffffff;
}

.cb-footer__conteiner {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  max-width: 1040px;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  flex-direction: column-reverse;
}

/* --------------------------- */
.cb-footer__column-right {
  flex: unset;
  max-width: unset;
  margin-top: 30px !important;
  padding: 0 15px;
}
.cb-footer__social--list {
  margin: 0;
  padding: 0;

  margin-bottom: 20px;
  margin-top: 20px;
  background-color: transparent;
  color: #1d1d1d !important;
  column-gap: 0.75rem;
  display: flex;
  justify-content: flex-end;
  list-style: none;
}
.cb-footer__social--item {
  margin: 0;
  padding: 0;
}

.cb-footer__social--link {
  align-items: center;
  background-color: #fff;
  border: none;
  display: flex;
  height: 24px;
  justify-content: center;
  width: 24px;
  color: currentColor;
}
.cb-footer__social--link svg {
  margin: 0 auto;
  width: 15px;
  height: 15px;
  display: block;
}
.cb-footer__social--sr-only {
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  clip: rect(0, 0, 0, 0);
  border: 0;
  white-space: nowrap;
}

.cb-footer__nav--list {
  list-style: none;
  text-align: left;
  display: block;
  margin: 0;
  padding: 0;
  margin-bottom: 20px;
}

.cb-footer__nav a {
  display: block;
  font-size: 15px;
  line-height: 1.2;
  font-weight: 700;
  padding: 5px 0;
  color: var(--contrast-text-color);
  text-decoration: none;
}
/* --------------------------- */

.cb-footer__column-left {
  flex: unset;
  max-width: unset;
  position: relative;
  margin-top: 30px !important;
  padding: 0 15px;
}
.cb-footer__projects--row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
/* .cb-footer__projects--column {
          flex: 0 0 49%;
          max-width: 49%;;
          position: relative;
          width: 49%;
  } */
.cb-footer__projects--column {
  flex: 0 0 100%;
  max-width: 100%;
  position: relative;
  width: 100%;
}
.cb-footer__projects-block {
  margin-bottom: 20px;
}
.cb-footer__projects-block:not(:first-child) {
  padding-top: 0;
}
.cb-footer__projects-block--title {
  font-weight: 700;
  line-height: 1.2;
  margin-bottom: 10px;
  font-family: "Poppins", sans-serif !important;
  font-size: 28px;
  margin: 0;
}
.cb-footer__projects-block--list {
  margin: 0;
  list-style: none;
  padding: 0;
}
.cb-footer__projects-block .menu-item {
  margin-bottom: 10px;
}
.cb-footer__projects-block a {
  font-size: 18px;
  line-height: 1.2;
  font-weight: 400;
  text-decoration: none;
  color: var(--contrast-text-color);
}
.cb-footer__disclaimer p {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
  color: var(--contrast-text-color);
}
.cb-footer__disclaimer b {
  font-weight: 700;
}
.cb-footer__disclaimer a {
  color: var(--contrast-text-color);
  text-decoration: unset;
}

.cb-footer__copy {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--contrast-text-color);
  font-family: "Poppins", sans-serif !important;
}
.cb-footer__copy p {
  margin: 0;
  padding: 0;
}
.cb-footer__copy a {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  color: var(--contrast-text-color);
  font-family: "Poppins", sans-serif !important;
  text-decoration: underline;
}
@media (min-width: 1024px) {
  .cb-footer__conteiner {
    flex-direction: row;
  }
  .cb-footer__column-left {
    flex: 0 0 66%;
    max-width: 66%;
    position: relative;
    margin-top: 55px !important;
    padding: 0;
  }
  .cb-footer__column-right {
    flex: 0 0 33%;
    max-width: 33%;
    padding: 0;
    margin-top: 30px !important;
  }
  .cb-footer__projects--column {
    flex: 0 0 49%;
    max-width: 49%;
    position: relative;
    width: 49%;
  }
  .cb-footer__projects-block:not(:first-child) {
    padding-top: 35px;
  }
  .cb-footer__nav--list {
    text-align: right;
  }
  .cb-footer__projects-block--title {
    font-size: 32px;
  }
}

.cb-footer .ref-link {
  font-size: 14px;
  line-height: 1.2;
  font-weight: 400;
  margin: 0;
  margin-bottom: 20px;
  color: var(--footer-color);
  filter: brightness(1.5);
}
